/*Secciones imágenes*/
.sectionImage {
    border: 1px solid transparent;
    background-attachment: fixed;
    @extend %winikCoverImages;
    min-height: 100vh;
    @include dimension(100%, auto);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    $images: ("heroImg": "digitalTransformation", "heroImg2": "digitalTransformation2", "heroImg3": "digitalTransformation3", "equipoImg": "teamWork", "quienesSomosImg": "quienesSomos", "serviciosImg": "servicios", "productosImg": "productos");

    @each $id, $image in $images {
        &##{$id} {
            background-image: url("../img/#{$image}.jpg");    
        }
    }

    p {
        font-size: 36px;
        text-align: left;
        font-family: winikStyleGuide.$t-winiksoftSecond;
        color: winikStyleGuide.$c-winiksoftWhite;
        font-weight: bold;
        padding: 150px 30px 30px 30px;
    }
}
