@charset "UTF-8";
@use "./winikWebGuide" as winikStyle;
@import "./header", "./footer";

/* GENERAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: winikStyle.$t-winiksoftMain;
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
}

h2,
h3 {
    margin: 0;
}

.dividerBotton {
    position: relative;
}

.dividerBottonImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
        position: relative;
        display: block;
        width: calc(160% + 1.3px);
        height: 63px;
        transform: rotateY(180deg);
    }

    .shape-fill {
        fill: winikStyle.$c-winiksoftMain;
    }
}

/*Principal*/

.principal {
    width: 100%;
    text-align: center;
}

/*Secciones imágenes*/

.sectionImage {
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    /* padding: 0px 40px 150px 40px;     */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    &#heroImg {
        background-image: url("../img/digitalTransformation.jpg");
    }

    &#heroImg2 {
        background-image: url("../img/digitalTransformation2.jpg");
    }

    &#heroImg3 {
        background-image: url("../img/digitalTransformation3.jpg");
    }

    &#equipoImg {
        background-image: url("../img/teamWork.jpg");
    }

    &#quienesSomosImg {
        background-image: url("../img/quienesSomos.jpg");
    }

    &#serviciosImg {
        background-image: url("../img/servicios.jpg");
    }

    &#productosImg {
        background-image: url("../img/productos.jpg");
    }
}

.heroWinik {
    grid-column: 1/2;
    padding-bottom: 150px;
    background-color: winikStyle.$c-heroTransparence;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.sectionImage p {
    font-size: 36px;
    text-align: left;
    font-family: winikStyle.$t-winiksoftSecond;
    color: winikStyle.$c-winiksoftWhite;
    font-weight: bold;
    padding: 200px 30px 30px 30px;
}

.buttonWinik {
    border: 1px solid winikStyle.$c-winikButton;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    background-color: winikStyle.$c-winikButton;
    text-transform: uppercase;
    font-family: winikStyle.$t-winiksoftSecond;
    font-size: 26px;
    border-radius: 50px;
    font-weight: bold;
    transition: all 1s;
    z-index: 1;

    a {
        color: winikStyle.$c-totalWhite;
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        animation-name: shine;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }
}

.callToAction {
    display: flex;
    justify-content: center;
}

/*Secciones con título*/

.sectionHeader {
    overflow: hidden;

    h2 {
        background-color: winikStyle.$c-winiksoftPower;
        font-size: 36px;
        font-weight: bold;
        color: winikStyle.$c-winiksoftLetterLight;
        line-height: 80px;
        padding: 20px;
    }

    h3 {
        background-color: winikStyle.$c-winiksoftWhite;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        color: winikStyle.$c-winiksoftMain;
        line-height: 40px;
        padding: 20px;
    }
}

/*Secciones de listas*/

.standList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    padding: 20px;
    list-style: none;
}

.sectionStands {
    article {
        width: 300px;
        margin: 50px;
    }

    img {
        width: 30%;
        height: auto;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }
}

.standsSectionBullet {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;

        &::before {
            content: "•";
            padding-right: 8px;
            color: winikStyle.$c-winiksoftPower;
        }
    }
}

.picSection img {
    width: 300px;
    height: 300px;
    box-shadow: 0px -1px 17px silver;
    margin-bottom: 50px;
    border-radius: 9px;
}

/*Secciones de artículos al lado de fotos*/

.aside {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
}

.asideImage {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.asideImageBackground {
    &#imageGasnor {
        background-image: url("../img/customers/gasnor_case.jpg");
    }

    &#imageAlsa {
        background-image: url("../img/customers/alsa_case.jpg");
    }

    &#imageScada {
        background-image: url("../img/winscadaimg.jpg");
    }

    &#imageSpatcher {
        background-image: url("../img/winspatcherimg.jpg");
    }

    &#imageIntegrations {
        background-image: url("../img/wintegrationimg.jpg");
    }

    grid-area: 1/1/9/9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: -1;
}

.asideImageTitle {
    background: transparent;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px;

    /* margin-right: 35px; */
    filter: brightness(100%);
    color: winikStyle.$c-winiksoftWhite;
    border: winikStyle.$c-winiksoftWhite 3px solid;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    z-index: -1;
    grid-column: 6/8;
    grid-row: 3/5;
    align-self: center;
    justify-self: center;
}

.asideStory {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.asideArticle {
    box-shadow: 0px -1px 17px silver;
    width: 300px;
    margin: 50px;
    border-radius: 9px;
    padding: 32px;

    img {
        width: 30%;
        height: auto;
        border-radius: 20px;
    }

    h4,
    p {
        font-size: 16px;
    }

    a img {
        width: 20%;
    }
}

/*Formularios*/

.dividerLeft {
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        font-family: "shape divider from ShapeDividers.com";
        position: absolute;
        z-index: -1;
        pointer-events: none;
        background-repeat: no-repeat;
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 162px 123%;
        background-position: 100% 50%;
        background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.25 381" preserveAspectRatio="none"><g fill="%239ee5ff"><path d="M68.78 381L34.92 0h42.33v381z"/><path d="M43.38 381L17.98 0h59.27v381z" opacity=".33"/><path d="M17.98 381L0 0h77.25v381z" opacity=".33"/></g></svg>');
    }
}

.sectionContacto {
    margin-top: 70px;
}

.sectionContactoChild {
    &#contactoLeft {
        color: winikStyle.$c-winiksoftLetterDark;
    }

    &#contactoRight {
        background-color: winikStyle.$c-winiksoftLight;
        padding: 50px;
        color: winikStyle.$c-winiksoftLetterDark;
    }
}

.jumbotron {
    background-color: inherit;
    color: inherit;
}

/*Media queries*/
@media only screen and (min-width: 800px) {
    .sectionImage {
        grid-template-columns: 40% 60%;
        padding: 0px 40px 150px 40px;
    }

    .heroWinik {
        grid-column: 2/3;
        padding-bottom: 150px;
    }

    .sectionImage p {
        font-size: 48px;
    }

    .aside {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .asideImage {
        grid-row: 1/2;
        height: 100%;
    }

    .asideStory {
        grid-row: 1/2;
    }

    .aside {
        &.asideRight {
            .asideImage {
                grid-column: 1/2;
            }

            .asideStory {
                grid-column: 2/3;
            }
        }

        &.asideLeft {
            .asideImage {
                grid-column: 2/3;
            }

            .asideStory {
                grid-column: 1/2;
            }
        }
    }
}

@keyframes slide {
    0% {
        left: -100;
        top: 0;
    }

    50% {
        left: 120px;
        top: 0px;
    }

    100% {
        left: 290px;
        top: 0;
    }
}

@keyframes shine {
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }

    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}