@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@200&display=swap');

/* GENERAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
}

.dividerBotton {
    position: relative;
}

.dividerBottonImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.dividerBottonImage svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 63px;
    transform: rotateY(180deg);
}

.dividerBottonImage .shape-fill {
    fill: #4DC8F5;
}

/* HEADER */
.navbar {
    background-color: #4DC8F5;
}

.navbar-nav {
    font-size: 16px;
}

.navbar-nav li .dropdown-menu {
    background-color: #4dc8f5;
}

.navbar-nav li .dropdown-menu a {
    color: #BFEBFB;
}

/*Principal*/
.principal {
    width: 100%;
    text-align: center;
}

/*Secciones imágenes*/
.sectionImage {
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* padding: 0px 40px 150px 40px;     */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.sectionImage#heroImg {
    background-image: url("../img/digitalTransformation.jpg");
}

.sectionImage#heroImg2 {
    background-image: url("../img/digitalTransformation2.jpg");
}

.sectionImage#heroImg3 {
    background-image: url("../img/digitalTransformation3.jpg");
}

.sectionImage#equipoImg {
    background-image: url("../img/teamWork.jpg");
}

.sectionImage#quienesSomosImg {
    background-image: url("../img/quienesSomos.jpg");
}

.sectionImage#serviciosImg {
    background-image: url("../img/servicios.jpg");
}

.sectionImage#productosImg {
    background-image: url("../img/productos.jpg");
}

.heroWinik {
    grid-column: 1/2;
    padding-bottom: 150px;
    background-color: #354a5488;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.sectionImage p {
    font-size: 36px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: #EEFCFF;
    font-weight: bold;
    padding: 200px 30px 30px 30px;
}

.buttonWinik {
    border: 1px solid #354A54;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    background-color: #354A54;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    border-radius: 50px;
    font-weight: bold;
    transition: all 1s;
    z-index: 1;
}

.buttonWinik a {
    color: #ffffff;
    text-decoration: none;
}

.buttonWinik:hover {
    transform: scale(1.1);
}

.callToAction {
    display: flex;
    justify-content: center;
}

/*Secciones con título*/
.sectionHeader {
    overflow: hidden;
}

.sectionHeader h2 {
    background-color: #00A4EA;
    font-size: 36px;
    font-weight: bold;
    color: #BFEBFB;
    line-height: 80px;
    padding: 20px
}

.sectionHeader h3 {
    background-color: #E6F4F1;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #4DC8F5;
    line-height: 40px;
    padding: 20px
}

/*Secciones de listas*/
.standList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    padding: 20px;
    list-style: none;
}


.sectionStands article {
    width: 300px;
    margin: 50px
}

.sectionStands img {
    width: 30%;
    height: auto;
}

.sectionStands h4 {
    font-size: 16px;
    font-weight: bold;
}

.sectionStands p {
    font-size: 16px;
}

.standsSectionBullet {
    list-style: none;
    padding: 0;
    margin: 0;
}

.standsSectionBullet li {
    padding-left: 16px;
}

.standsSectionBullet li::before {
    content: "•";
    padding-right: 8px;
    color: #00A4EA;
}

.picSection img {
    width: 300px;
    height: 300px;
    box-shadow: 0px -1px 17px silver;

    margin-bottom: 50px;
    border-radius: 9px;


}

/*Secciones de artículos al lado de fotos*/
.aside {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
}

.asideImage {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.asideImageBackground#imageGasnor {
    background-image: url("../img/customers/gasnor_case.jpg");
}

.asideImageBackground#imageAlsa {
    background-image: url("../img/customers/alsa_case.jpg");
}

.asideImageBackground#imageScada {
    background-image: url("../img/winscadaimg.jpg");
}

.asideImageBackground#imageSpatcher {
    background-image: url("../img/winspatcherimg.jpg");
}

.asideImageBackground#imageIntegrations {
    background-image: url("../img/wintegrationimg.jpg");
}

.asideImageBackground {
    grid-area: 1 / 1 / 9 / 9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    z-index: -1;
}

.asideImageTitle {
    background: transparent;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px;
    /* margin-right: 35px; */
    filter: brightness(100%);
    color: #EEFCFF;
    border: #EEFCFF 3px solid;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    z-index: -1;
    grid-column: 6/8;
    grid-row: 3/5;
    align-self: center;
    justify-self: center;
}

.asideStory {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.asideArticle {
    box-shadow: 0px -1px 17px silver;
    width: 300px;
    margin: 50px;
    border-radius: 9px;
    padding: 32px;
}

.asideArticle img {
    width: 30%;
    height: auto;
    border-radius: 20px;

}

.asideArticle h4 {
    font-size: 16px;
}

.asideArticle p {
    font-size: 16px;
}

.asideArticle a img {
    width: 20%;
}

/*Formularios*/
.dividerLeft {
    overflow: hidden;
    position: relative;
}

.dividerLeft::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: -1;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 162px 123%;
    background-position: 100% 50%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.25 381" preserveAspectRatio="none"><g fill="%239ee5ff"><path d="M68.78 381L34.92 0h42.33v381z"/><path d="M43.38 381L17.98 0h59.27v381z" opacity=".33"/><path d="M17.98 381L0 0h77.25v381z" opacity=".33"/></g></svg>');
}

.sectionContacto {
    margin-top: 70px;
}

.sectionContactoChild#contactoLeft {
    color: #455A64;
}

.sectionContactoChild#contactoRight {
    background-color: #9EE5FF;
    padding: 20px;
    color: #455A64;
}

.jumbotron {
    background-color: inherit;
    color: inherit;
}

/*Footer*/
.footerWinik {
    padding: 10px 0;
    background-color: #4DC8F5;
    color: #EEFCFF;
}

.footerWinik img {
    width: 50px;
    height: auto;
    margin: 25px;
}

.footerWinik h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footerWinik ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 10px;
}

.footerWinik ul a {
    color: inherit;
    text-decoration: none;
}

/*Media queries*/
@media only screen and (min-width: 800px) {
    .sectionImage {
        grid-template-columns: 40% 60%;
        padding: 0px 40px 150px 40px;
    }

    .heroWinik {
        grid-column: 2/3;
        padding-bottom: 150px;
    }

    .sectionImage p {
        font-size: 48px;
    }

    .aside {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .asideImage {
        grid-row: 1/2;
        height: 100%;
    }

    .asideStory {
        grid-row: 1/2;
    }

    .aside.asideRight .asideImage {
        grid-column: 1/2;
    }

    .aside.asideRight .asideStory {
        grid-column: 2/3;
    }

    .aside.asideLeft .asideImage {
        grid-column: 2/3;

    }

    .aside.asideLeft .asideStory {
        grid-column: 1/2;
    }
}