/*Footer*/
.footerWinik {
    padding: 10px 0;
    background-color: winikStyleGuide.$c-winiksoftMain;
    color: winikStyleGuide.$c-winiksoftWhite;

    img {
        @include dimension(50px, auto);
        margin: 25px;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: winikStyleGuide.$ts-winikM;
    }

    ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: winikStyleGuide.$ts-winikS;
        margin-bottom: 10px;

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

