/* HEADER */
.navbar {
    background-color: winikStyleGuide.$c-winiksoftMain;
}

.navbar-nav {
    font-size: winikStyleGuide.$ts-winikM;

    li .dropdown-menu {
        background-color: winikStyleGuide.$c-winiksoftMain;

        a {
            color: winikStyleGuide.$c-winiksoftLetterLight;
        }
    }
}

.navbar-brand:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    @include dimension(70px, 100%);
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-30deg);
    $slideMap: (name: slide, duration: 30s, iteration: infinite, timing: ease-in-out, delay: 0.3s, direction: alternate);
    @include animation($slideMap...);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
