/* HEADER */
.navbar {
    position: relative;
    background: transparent;
    padding-bottom: 22px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, winikStyleGuide.$c-winiksoftMain 0%, winikStyleGuide.$c-winiksoftPower 100%);
        clip-path: polygon(0 0, 100% 0, 100% 48%, 0 100%);
        z-index: -1;
        filter: drop-shadow(0 6px 18px rgba(0, 164, 234, 0.32));
    }

    .navbar-collapse {
        background: linear-gradient(135deg, winikStyleGuide.$c-winiksoftMain 0%, winikStyleGuide.$c-winiksoftPower 100%);
        padding: 8px 0 12px;
        border-radius: 0 0 10px 10px;
    }
}

.navbar-nav {
    font-size: winikStyleGuide.$ts-winikM;

    li .dropdown-menu {
        background-color: winikStyleGuide.$c-winiksoftMain;

        a {
            color: winikStyleGuide.$c-winiksoftLetterLight;
        }
    }
}

.navbar-brand:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    @include dimension(70px, 100%);
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-30deg);
    $slideMap: (name: slide, duration: 30s, iteration: infinite, timing: ease-in-out, delay: 0.3s, direction: alternate);
    @include animation($slideMap...);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
