
//Media queries
@media only screen and (min-width: 800px) {
    .teamGrid {
        li article {
            display: grid;
            grid-template-columns: 220px 1fr;
            grid-template-rows: auto 1fr;

            .teamCardHeader {
                grid-column: 2;
                grid-row: 1;
                order: unset;
                padding: 24px 24px 12px;
            }

            .teamCardBody {
                grid-column: 2;
                grid-row: 2;
                order: unset;
            }

            .imgHoverContainer {
                grid-column: 1;
                grid-row: 1 / 3;
                order: unset;
                width: 220px;
                height: 100%;
                min-height: 280px;
                margin: 0;

                img {
                    width: 220px;
                    height: 100%;
                    min-height: 280px;
                }
            }
        }
    }


    .sectionImage {
        grid-template-columns: 40% 60%;
        padding: 0px 40px 150px 40px;
    }

    .heroWinik {
        grid-column: 2/3;
        padding-bottom: 150px;
    }

    .sectionImage p {
        $hugeXXL: winikStyleGuide.$ts-winikXXL + 12;
        font-size: $hugeXXL;

        &::first-letter{
            font-size: $hugeXXL + 30;
        }


    }

    .aside {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .asideImage {
        grid-row: 1/2;
        height: 100%;
    }

    .asideStory {
        grid-row: 1/2;
    }

    .aside {
        &.asideRight {
            .asideImage {
                grid-column: 1/2;
            }

            .asideStory {
                grid-column: 2/3;
            }
        }

        &.asideLeft {
            .asideImage {
                grid-column: 2/3;
            }

            .asideStory {
                grid-column: 1/2;
            }
        }
    }
}
