//Secciones de listas de articulos
.standList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    padding: 20px;
    list-style: none;
}

.sectionStands {
    article {
        @include dimension(300px);
        margin: 50px;
    }

    img {
        @include dimension(30%, auto);        
        width: 30%;
        height: auto;
    }

    h4 {
        font-size: winikStyleGuide.$ts-winikM;
        font-weight: bold;
    }

    p {
        font-size: winikStyleGuide.$ts-winikM;
    }
}

.standsSectionBullet {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;

        &::before {
            content: "•";
            padding-right: 8px;
            color: winikStyleGuide.$c-winiksoftPower;
        }
    }
}

.picSection {
    img {
        @include dimension(300px, 300px);
        box-shadow: 0px -1px 17px silver;
        margin-bottom: 50px;
        border-radius: 9px;
        opacity: 1;
        display: block;
        transition: 0.5s ease;
    }

    .imgHoverContainer {
        position: relative;
        &:hover {
            img {
                opacity: 0.5;
            }
    
            .imgHover {
                opacity: 1;
            }
        }
    }

    .imgHover {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .imgHoverText {
        font-size: winikStyleGuide.$ts-winikHuge;
        padding: 16px 32px;
    }
}