// WINIKSOFT COLOR PALETTE
$c-winiksoftMain: #4DC8F5;
$c-winiksoftPower: #00A4EA;
$c-winiksoftLight: #9EE5FF;
$c-winiksoftLetterLight: #BFEBFB;
$c-heroTransparence: #354a5488;
$c-winikButton: #354A54;
$c-winiksoftLetterDark: #455A64;
$c-totalWhite: #FFFFFF;
$c-winiksoftWhite: #EEFCFF;
$c-winiksoftError: #FD7488;
$c-winiksoftSuccess: #31B56E;

// TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@200&family=Ubuntu&display=swap");

$t-winiksoftMain: "Ubuntu", sans-serif;
$t-winiksoftSecond: "Raleway", sans-serif;
$t-winiksoftThird: "Lato", sans-serif;

$ts-winikXS: 12px;
$ts-winikS: 14px;
$ts-winikM: 16px;
$ts-winikL: 20px;
$ts-winikXL: 26px;
$ts-winikXXL: 36px;
$ts-winikHuge: 86px;